<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>ExerciceArticle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIinfo</display-name>
    <servlet-name>UserIinfo</servlet-name>
    <servlet-class>servlet.UserIinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIinfo</servlet-name>
    <url-pattern>/UserIinfo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Admin</display-name>
    <filter-name>Admin</filter-name>
    <filter-class>filters.Admin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <url-pattern>/Admin</url-pattern>
  </filter-mapping>
</web-app>